<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container">
      <center>
        <h1>BINTANG SHOP</h1>

        <table class="table table-striped table-hover">
          <tr>
            <th>barang</th>
            <th>Tanggal checkout</th>
            <th>harga</th>
            <th colspan="2">opsi</th>
          </tr>
          {% if shop_list %} {% for buy in shop_list %}
          <tr>
            <td>{{ buy.barang }}</td>
            <td>{{ buy.publish }}</td>
            <td>{{ buy.harga }}</td>
            <td>
              <a href="{% url 'shops.edit' buy.id %}"
                ><ion-icon class="fs-5" name="create-outline"></ion-icon
              ></a>
            </td>
            <td>
              <a
                onclick="return confirm('Hapus {{ buy.barang }}')"
                href="{% url 'shops.delete' buy.id %}"
                ><ion-icon class="fs-5" name="trash-outline"></ion-icon
              ></a>
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="4">"Barang tidak tersedia"</td>
          </tr>
          {% endif %}
        </table>
        <a class="btn btn-primary" href="{% url 'shops.add' %}">Tambah</a>
      </center>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
